default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  url: <%= ENV['DATABASE_URL'] %>

development:
  <<: *default

test:
  <<: *default
  url: <%= ENV.fetch('DATABASE_URL_TEST', 'postgres://postgres:password@db:5432/shopzen_test') %>

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
