<!DOCTYPE html>
<html>
  <head>
    <title>Shopzen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <header>
      <h1><a href="/">Shopzen</a></h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
